.showNews {
    position: relative;
    width: 80%;
    left:10%;
    top:103px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.showNews > .card {
    display: flex;
    flex-direction: column;
    width: 22%;
    margin-bottom:3rem;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    background-color: #fff;
}

.showNews > .card > .image {
    position: relative;
    padding-bottom: 60%;
}

.showNews > .card > .image > img {
    position: absolute;
    width: 100%;
    max-height: 100%;
}

.showNews > .card > .cardBody {
    padding: 1.25rem;
    padding-bottom: 0;
}

.showNews > .card > .cardBody > .cardTitle > h5 {
    margin-bottom: .75rem;
}

.showNews > .card > .cardBody > .cardText > p {
    text-align: justify;
}

.showNews > .card > .cardNavigation {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.showNews > .card > .cardNavigation > a {
    align-self: flex-end;
    margin:0 1rem 1rem 0;
}

.showNews > .loadMore {
    flex-basis: 100%;
    padding-bottom: 2rem;
}

.showNews > .loadMore > button {
    float: right;
}

.alert {
    top:100px;
    width: 80%;
    left:10%;
}


@media only screen and (max-width: 1280px) {
    .showNews {
        width: 100%;
        left:0%;
        justify-content: space-evenly;
    }
    .showNews > .card {
        margin-bottom:2rem;
    }
    .showNews > .loadMore {
        flex-basis: 95%;
    }

}

@media only screen and (max-width: 992px) {
    .showNews > .card {
        width: 30%;
    }
}

@media only screen and (max-width: 768px) {
    .showNews > .card {
        width: 48%;  
    }

    .showNews > .loadMore {
        flex-basis: 97%;
    }
}


@media only screen and (max-width: 576px) {
    .showNews > .card {
        width: 95%;
    }

    .showNews > .loadMore {
        flex-basis: 95%;
    }
}